.footer-container {
  height: 17.8%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.footer-parent {
  width: 100%;
  height: 100%;
  max-width: 1920px;
}
.about-me {
  color: black;
  background-color: pink;
  height: 100px;
}
.palabras {
  color: black;
  background-color: pink;
  height: 130px;
}
.contact-me {
  color: black;
  background-color: bisque;
  height: 90px;
}
.palabras-2 {
  color: black;
  background-color: bisque;
  height: 400px;
}
@media only screen and (max-width: 1110px) {
  .footer-parent {
    display: flex;
    align-items: flex-end;
  }
}
